@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aplicación para el control de inventarios del equipo de tecnología de la cruz roja costarricense. Este programa web permite el manejo de los inventarios activos y dispositivos personales de los empleados de la cruz roja para un manejo eficaz de los dispositivos en la cede central y sedes satélites a nivel nacional. </p>
