@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Calle 8, Avenida 14, Distrito Hospital<br />
    San José 10103, Costa Rica<br />
    <abbr title="Telefono">T:</abbr>
    +506 2542 -5000
</address>
