
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<h2>Reportes</h2>
<hr /><br />

<div class="col-md-8 col-lg-offset-2 text-center">
    <a class="btn btn-primary btn-lg active" role="button" href="~/Reportes/frmReporteInventario.aspx">Reporte General de Activos</a>
</div>
<br /><br /><br /><br />
<div class="col-md-8 col-lg-offset-2 text-center">
    <a class="btn btn-primary btn-lg active" role="button" href="~/Reportes/frmReporteEmpleados.aspx">Reporte General de Empleados</a>
</div>
<br /><br /><br /><br />
<div class="col-md-8 col-lg-offset-2 text-center">
    <a class="btn btn-primary btn-lg active" role="button" href="~/Reportes/frmReporteActivosPorTerritorio.aspx">Reporte de Activos por Territorios</a>
</div>
<br /><br /><br /><br />
<div class="col-md-8 col-lg-offset-2 text-center">
    <a class="btn btn-primary btn-lg active" role="button" href="/Reportes/frmReporteActivosPorEmpleado.aspx">Reporte de Activos por Empleado</a>
</div>
<hr />