@{
    ViewBag.Title = "About";
}

<body>
</body>


<p>
    Somos una Institución humanitaria de  carácter voluntario y de interés público,
    con programas de atención de emergencias pre hospitalarias, respuesta a calamidades o desastres,
    promoción de la resiliencia comunitaria, el fomento de la no violencia y la cultura de paz,
    los cuales se desarrollan a través de 122 comités auxiliares (representaciones locales),
    9 juntas regionales que integran para efectos administrativos y operativos a los comités auxiliares  y
    varias direcciones nacionales.

</p><br /><br />

<img src="~/fonts/logoCR.png" align="right">