@{
    ViewBag.Title = "Contact";
}

<body>
</body>


<a href="https://www.facebook.com/cruzrojacostarricense/?ref=br_rs" target="_blank">
    <div align="right">
        <img alt="Siguenos en Facebook"
             src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png" width=32 height=32 />
    </div>
</a>


<a href="https://www.youtube.com/user/CruzRojaCRC" target="_blank">
    <div align="right">
        <img alt="Siguenos en YouTube"
             src="https://lh5.googleusercontent.com/-TXzlKCbKzWs/T6mYkDhTXyI/AAAAAAAAA1U/vm95Q2KwrYg/s32/youtube32.png" width=32 height=32 />
    </div>
</a>


<a rel="author" href="http://www.cruzroja.or.cr/" target="_blank">
    <div align="right">
        <img alt="Siguenos en Google+"
             src="https://lh5.googleusercontent.com/-F_FBKktZWZk/T3nN0v4FeAI/AAAAAAAAAsc/7dHTxkxn4cI/s32/google32.png" width=32 height=32 />
    </div>
</a>



<div align="left">
    <div id="panel-165-1-2-0" class="so-panel widget widget_sow-editor panel-first-child panel-last-child" data-index="3">
        <div class="so-widget-sow-editor so-widget-sow-editor-base">
            <h3 class="widget-title">Directorio telefónico Sede Central</h3>
            <div class="siteorigin-widget-tinymce textwidget">
                <p>
                    <a class="aligncenter download-button" href="http://www.cruzroja.or.cr?Descarga=guia-telefonica-cruz-roja-costarricense"
                        <div id="pgc-165-2-0" class="panel-grid-cell">
                            <br />

                            <h3 class="widget-title">Descargar Directorio</h3><div></div>

                        </div>
            </div>
        </div>
    </div>
</div>


</p><br /><br /></p><br /><br />
 <center>

 <a href=”#” style=”text-decoration:none;”></a><strong>
 Dirección Principal
 Teléfono: +506 2542 -5000
 </strong><br />

 Dirección:  Calle 8, Avenida 14, Distrito Hospital, San José 10103, Costa Rica

 Otras señas:  200 m sur, 50 oeste,  Parque la Merced, San José

 </p><br /><br />

 <script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBOPUE_QasvItuR8myrPlxMrlVV0I_AfU4'></script><div style='overflow:hidden;height:450px;width:520px;'>
 <div id='gmap_canvas' style='height:350px;width:360px;'></div>
 <style>
    #gmap_canvas img {
    max-width: none !important;
   background: none !important
                             }
       </style>
       </div> <a href='https://addmap.net/'>how to add a google map to wordpress</a>
       <script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=9f312c9d6b88d834193fd973be31409615978546'></script>
       <script type='text/javascript'>function init_map() { var myOptions = { zoom: 17, center: new google.maps.LatLng(37.33816554915263, -121.88557758147584), mapTypeId: google.maps.MapTypeId.HYBRID }; map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions); marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(37.33816554915263, -121.88557758147584) }); infowindow = new google.maps.InfoWindow({ content: '<strong>Cruz Roja</strong><br>Carretera 5 y Av. 57<br> San José<br>' }); google.maps.event.addListener(marker, 'click', function () { infowindow.open(map, marker); }); infowindow.open(map, marker); } google.maps.event.addDomListener(window, 'load', init_map);</script>
       </center>
